In [3]:
# This is a single line comment
print("This is my first python program")
"""
This is a  multiline comment

"""

This is my first python program

'\nThis is a  multiline comment\n\n'

In [5]:
a=10
a

10

In [6]:
type(a)

int

In [7]:
name="Aman"
print(name)

Aman

In [8]:
type(name)

str

In [24]:
# How to assign varables in single line
name, age, DOB = "Aman Gupta", 22 ,'24 may 2000'
print(name)
print(type(name))
print(age)
print(type(age))
print(DOB)
print(type(DOB))
print(name,age,DOB)
name,age,DOB

Aman Gupta
<class 'str'>
22
<class 'int'>
24 may 2000
<class 'str'>
Aman Gupta 22 24 may 2000

'Aman Gupta24 may 2000'

In [20]:
# to get double quote in output 
name='"Aman"'
name

'"Aman"'

In [21]:
# Whenever we declare a variable it should start with a letter or underscore
1b='sd'

SyntaxError: invalid syntax (<ipython-input-21-55bb2b85ec42>, line 1)

In [23]:
_1b='sd'
_1b

'sd'

In [25]:
'spam'+'spamspam'

'spamspamspam'

In [26]:
'spam'*3

'spamspamspam'

In [28]:
# Boolean data type T should be capital
a=True
b=False
print(type(a))
type(b)

<class 'bool'>

bool

In [29]:
print(True+True+True+False+True)
print(False-True+True)

4
0

In [35]:
# Complex data type
x=5+10j
y=9+12j
type(x)
x*y
print(x.real)
print(y.imag)

5.0
12.0

In [1]:
'1'+'Aman'

'1Aman'

In [2]:
1+1.0

2.0

In [5]:
'aman'+'aman'+'aman'
'aman'*3

'amanamanaman'

In [7]:
a=input("Enter the number")
print(a)
type(a)

Enter the number12
12

str

In [16]:
a=int(input("Enter the First number :"))
b=int(input("Enter the Second number :"))
c=int(input("Enter the Third number :"))
d=12+10j
result=(a+b)/c
result,d
print(result,"Aman")

Enter the First number :12
Enter the Second number :13
Enter the Third number :2
12.5 Aman

In [18]:
x=int(input("Enter the number less than 34:"))
if x<34:
    print("The number is less than 34")
else:
    print("The number is not lesser than 34")

Enter the number less than 34:100
The number is not lesser than 34

In [ ]:
salary=int(input("Enter your salary"))
if salary<1000:
    print("I will go for a car")
elif salary<500:
    print("I will go for a bike")
else:
    print("I will buy nothing")

In [22]:
a=10
b=20
if a==10 and b>20:
    print("This is valid")
elif a==10 and b>=20:
    print("This is valid inside elif")
else:
    print("Condition is not valid")

This is valid inside elif

In [24]:
name=input("Enter your name :")
if name=='Aman':
    print("Hello Aman")
else:
    print("Hello "+name)

Enter your name :Gupta
Hello Gupta

In [26]:
initial_speed=0
final_speed=100
while(initial_speed<=final_speed):
    print("Speed is ",initial_speed)
    initial_speed+=1

Speed is  0
Speed is  1
Speed is  2
Speed is  3
Speed is  4
Speed is  5
Speed is  6
Speed is  7
Speed is  8
Speed is  9
Speed is  10
Speed is  11
Speed is  12
Speed is  13
Speed is  14
Speed is  15
Speed is  16
Speed is  17
Speed is  18
Speed is  19
Speed is  20
Speed is  21
Speed is  22
Speed is  23
Speed is  24
Speed is  25
Speed is  26
Speed is  27
Speed is  28
Speed is  29
Speed is  30
Speed is  31
Speed is  32
Speed is  33
Speed is  34
Speed is  35
Speed is  36
Speed is  37
Speed is  38
Speed is  39
Speed is  40
Speed is  41
Speed is  42
Speed is  43
Speed is  44
Speed is  45
Speed is  46
Speed is  47
Speed is  48
Speed is  49
Speed is  50
Speed is  51
Speed is  52
Speed is  53
Speed is  54
Speed is  55
Speed is  56
Speed is  57
Speed is  58
Speed is  59
Speed is  60
Speed is  61
Speed is  62
Speed is  63
Speed is  64
Speed is  65
Speed is  66
Speed is  67
Speed is  68
Speed is  69
Speed is  70
Speed is  71
Speed is  72
Speed is  73
Speed is  74
Speed is  75
Speed is  76
Speed is  77
Speed is  78
Speed is  79
Speed is  80
Speed is  81
Speed is  82
Speed is  83
Speed is  84
Speed is  85
Speed is  86
Speed is  87
Speed is  88
Speed is  89
Speed is  90
Speed is  91
Speed is  92
Speed is  93
Speed is  94
Speed is  95
Speed is  96
Speed is  97
Speed is  98
Speed is  99
Speed is  100

In [3]:
notes=5
i=1
while i<notes:
    print(i)
    i+=1
else:
    j=1
    while j<2:
        print(j)
        j+=1
    print("no 10rs notes availabe")

1
2
3
4
1
no 10rs notes availabe

In [19]:
name="My name is Aman"

In [12]:
name[0:13:2]

'M aei m'

In [16]:
name[::-1]

'namA si eman yM'

In [17]:
name="aman"

In [18]:
name[-1]

'n'

In [20]:
for i in name:
    print(i)

M
y

n
a
m
e

i
s

A
m
a
n

In [28]:
for i in name:
    if i=='a':
        continue
    print(i)
else:
    print("this is an else statement")

M
y

n
m
e

i
s

A
m
n
this is an else statement

In [30]:
name="aman"
myname=""
for i in range(len(name)):
    if name[i]=='m':
        continue
    else:
        myname = myname + name[i]

In [32]:
myname

'aan'

In [41]:
for i in range(7):
    for j in range(i+1):
        print("+ ",end="")
    print("")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [68]:
n=5
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end="")
        
    for k in range(2*i-1):
        print('*',end='')
    print()

*********
 *******
  *****
   ***
    *

In [95]:
# no=int(input("Enter the numbet :"))
no=5
i=0
while i<no:
    print(" "*(no-i-1)+'* '*(i+1))
    i+=1

    *
   * *
  * * *
 * * * *
* * * * *

In [2]:
l=[1,2,"aman",3,'Gupta',[4,5,"cnah"]]
for i in l:
    print(type(i))
    if type(i) == list:
        for j in i:
            print(type(j))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'list'>
<class 'int'>
<class 'int'>
<class 'str'>

In [4]:
li=list(range(10))

In [6]:
len(li)

10