In [11]:
import pandas as pd
name=input("Enter Your name :")
age=int(input("Enter your age :"))
dt={'Name':[name], 'Age':[age]}
df=pd.DataFrame(dt)
df

Enter Your name :Aman Gupta
Enter your age :22

         Name  Age
0  Aman Gupta   22

In [ ]:
df.to_sql(con=mydb,name="task",index=False, if_exists="append")